version: "3.9"

services:
  app:
    build: .
    container_name: app
    ports:
      - "8088:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:10.11
    container_name: mariadb-db
    environment:
      MARIADB_ROOT_PASSWORD: root@1234
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: my-phpmyadmin
    restart: always
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: root@1234
    ports:
      - "9090:80"
    depends_on:
      - mariadb

volumes:
  mariadb_data:
