@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "robotoB";
    src: url("../fonts/robotoB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "atf_dragonball";
    src: url("../fonts/atf_dragonball.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "kufam";
    src: url("../fonts/kufam.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "kufamB";
    src: url("../fonts/kufamB.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.froboto {
    font-family: "roboto"
}

.frobotoB {
    font-family: "robotoB"
}

.fatf_dragonball {
    font-family: "atf_dragonball"
}

.fkufam {
    font-family: "kufam"
}

.fkufamB {
    font-family: "kufamB"
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

:focus {
    outline: 0
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, td, th {
    font-weight: normal;
    text-align: left
}

blockquote:after, blockquote:before, q:after, q:before {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

a img {
    border: 0
}

figure {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a:focus, a:hover, a:hover p, select:active, select:focus, select:hover {
    text-decoration: none;
    outline: none !important
}

a, a:link {
    text-decoration: none;
    outline: none !important;
    color: #fff
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: table;
    clear: both
}

::-webkit-input-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

::-moz-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

:-ms-input-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

::-ms-input-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

::placeholder {
    color: #cfcece;
    font-family: "roboto"
}

:-ms-input-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

::-ms-input-placeholder {
    color: #cfcece;
    font-family: "roboto"
}

*, .box_sizing_border_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.a100 {
    width: 100%;
    height: 100%;
    display: block
}

.c-p, .c-pointer, .cp {
    cursor: pointer
}

.p-r, .pr {
    position: relative
}

.p-a, .pa {
    position: absolute
}

.w100percent {
    width: 100%
}

.m__inline {
    margin-left: auto;
    margin-right: auto
}

.dFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.dFlex.aCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.dFlex.jCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

button, input, select {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0
}

input, select {
    font-family: "roboto";
    font-size: clamp(1.6rem, 4vw, 2rem);
    color: #cfcece
}

.tUpper {
    text-transform: uppercase
}

.tCenter {
    text-align: center
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.img-res {
    max-width: 100%;
    width: auto;
    height: auto
}

.c-white {
    color: #ffffff !important
}

.c-black {
    color: #000 !important
}

.c-page {
    color: #173037 !important
}

.c-orange {
    color: #ff8717 !important
}

.c-yellow {
    color: #fff8aa !important
}

.c-red {
    color: #ee4131 !important
}

.c-blue {
    color: #4580f9 !important
}

.link-under {
    text-decoration: underline !important
}

.t-shadow {
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3)
}

.t-shadow-red {
    text-shadow: 0px 3px 0px rgb(204, 70, 30)
}

@-webkit-keyframes zoomInOut {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
}

@keyframes zoomInOut {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
}

@-webkit-keyframes glowing {
    0% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000
    }
    50% {
        background-color: #FF0000;
        -webkit-box-shadow: 0 0 40px #FF0000
    }
    to {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000
    }
}

@keyframes glowing {
    0% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000
    }
    50% {
        background-color: #FF0000;
        -webkit-box-shadow: 0 0 40px #FF0000
    }
    to {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000
    }
}

@-webkit-keyframes rock-boat {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
    50% {
        -webkit-transform: rotate(-7deg) translateY(-5px);
        transform: rotate(-7deg) translateY(-5px)
    }
    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@keyframes rock-boat {
    0% {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
    50% {
        -webkit-transform: rotate(-7deg) translateY(-5px);
        transform: rotate(-7deg) translateY(-5px)
    }
    to {
        -webkit-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0)
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
    50% {
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px)
    }
    to {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}

@keyframes move {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
    50% {
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px)
    }
    to {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%, 20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%, 20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

html.root__page {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%
}

body.wpage {
    font-family: "roboto";
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff;
    background-color: #e85603;
    min-height: 100vh;
    max-width: 1920px;
    margin-inline: auto;
    overflow-x: hidden !important
}

@media only screen and (min-width: 1150px) {
    body.wpage {
        background: url(../images/full__big.jpg), url(../images/loop2.jpg) #e85603;
        background-repeat: no-repeat;
        background-position: center top, center bottom
    }
}

@media only screen and (max-width: 1199px) {
    body.wpage {
        background: url(../images/sm__full.jpg), url(../images/loop1.jpg) #e85603;
        background-position: center 58px, center bottom;
        background-size: 100% auto;
        background-repeat: no-repeat
    }
}

.limit__game {
    position: relative;
    width: 100%;
    margin-inline: auto
}

@media only screen and (min-width: 1150px) {
    .limit__game {
        max-width: 115rem
    }
}

@media only screen and (max-width: 1199px) {
    .hidden__MB, .hidden__mobile {
        display: none !important
    }
}

@media only screen and (min-width: 1150px) {
    .hidden__PC, .hidden__PC {
        display: none !important
    }
}

.link-hv.active .img-hv, .link-hv:hover .img-hv {
    display: inline-block
}

.link-hv .img-ac, .link-hv .img-hv {
    width: 100%
}

.link-hv .img-hv {
    display: none;
    position: absolute;
    left: 0;
    top: 0
}

.btn-tranY {
    -webkit-transition: all 0.25s;
    transition: all 0.25s
}

.btn-tranY.active, .btn-tranY:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
}

.btn-Zoom {
    -webkit-transition: all 0.25s;
    transition: all 0.25s
}

.btn-Zoom.active, .btn-Zoom:hover {
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important
}

.mt-1per {
    margin-top: 1%
}

.mt-2per {
    margin-top: 2%
}

.mt-3per {
    margin-top: 3%
}

.mt-4per {
    margin-top: 4%
}

@media only screen and (max-width: 667px) {
    .btn-img-hv {
        width: 60%
    }
}

.btn-img-hv .img-ac, .btn-img-hv .img-hv {
    width: 100%
}

.btn-img-hv .img-hv {
    display: none;
    position: absolute;
    left: 0;
    top: 0
}

.btn-img-hv:hover .img-hv {
    display: inline
}

.btn-page {
    width: 160px;
    height: 43px
}

@media only screen and (min-width: 768px) {
    .btn-page {
        width: 271px;
        height: 72px
    }
}

.pagination {
    margin-top: 10px
}

@media only screen and (min-width: 768px) {
    .pagination {
        margin-top: 20px
    }
}

.pagination ul {
    text-align: center
}

.pagination ul li {
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #767676;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 0 2px
}

@media only screen and (min-width: 768px) {
    .pagination ul li {
        width: 5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.8rem
    }
}

.pagination ul li a {
    color: #fff
}

.pagination ul li.active, .pagination ul li:hover {
    background: #ff8717
}

.slick-custom-dots .slick-dots {
    bottom: -25%
}

.slick-custom-dots .slick-dots li {
    background: #fff;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    margin: 0 3px
}

@media only screen and (min-width: 1150px) {
    .slick-custom-dots .slick-dots li {
        margin: 0 5px
    }
}

.slick-custom-dots .slick-dots li.slick-active {
    background: #ffc333
}

.slick-custom-dots .slick-dots li button {
    width: 14px;
    height: 14px
}

.slick-custom-dots .slick-dots li button:before {
    width: 14px;
    height: 14px;
    content: ""
}

.slick-custom-dots.slick-dot-black .slick-dots li {
    background: #fff
}

.slick-arrow {
    width: 30px;
    height: 43px;
    background: url(../images/arrow-left2.png) no-repeat center center;
    background-size: contain;
    z-index: 2
}

.slick-arrow:focus, .slick-arrow:hover {
    background: url(../images/arrow-left2.png) no-repeat center center;
    background-size: contain
}

.slick-arrow.slick-disabled {
    background: transparent
}

.slick-arrow:before {
    content: ""
}

@media only screen and (min-width: 1024px) {
    .slick-arrow {
        width: 37px;
        height: 81px
    }
}

.slick-arrow.slick-prev {
    left: -8%
}

@media only screen and (min-width: 1024px) {
    .slick-arrow.slick-prev {
        left: -5%
    }
}

.slick-arrow.slick-next:not(.slick-disabled) {
    right: -8%;
    background: url(../images/arrow-right2.png) no-repeat center center;
    background-size: contain
}

@media only screen and (min-width: 1024px) {
    .slick-arrow.slick-next:not(.slick-disabled) {
        right: -5%
    }
}

.slick-arrow.slick-next:not(.slick-disabled):focus, .slick-arrow.slick-next:not(.slick-disabled):hover {
    background: url(../images/arrow-right2.png) no-repeat center center;
    background-size: contain
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scaleIn {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.out-hv {
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

.out-hv:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.logo-top {
    position: absolute;
    top: 10px;
    left: 0
}

.main_head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #0e0e0e;
    height: 60px;
    width: 100%;
    padding: 2px
}

@media only screen and (min-width: 375px) {
    .main_head {
        padding: 4px 2px
    }
}

@media only screen and (min-width: 1150px) {
    .main_head {
        border-bottom: 0;
        height: 70px;
        padding: 0;
        background: transparent;
        position: absolute
    }
}

#toggle-menu__header-page:checked ~ .navbar #menu__header-page .inner-menu__header-page:before {
    top: 0px;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

#toggle-menu__header-page:checked ~ .navbar #menu__header-page .inner-menu__header-page:after {
    top: 0px;
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

#toggle-menu__header-page:checked ~ .navbar .navbar-content {
    left: 0
}

@media only screen and (max-width: 999px) {
    .navbar .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

.left-header {
    width: 60%;
    float: left
}

.icon-name-game .icon-game img {
    position: relative;
    z-index: 2;
    width: 70px;
    display: block;
    border: 1px solid #ffcb39;
    border-radius: 10px
}

.txt-name-game {
    color: #ffffff;
    font-size: 2.3vw;
    font-size: clamp(0.8rem, 2.3vw, 1.4rem);
    margin-left: 5px;
    margin-top: 5px
}

@media only screen and (min-width: 375px) {
    .txt-name-game {
        margin-top: 5px;
        margin-left: 10px
    }
}

@media only screen and (min-width: 600px) {
    .txt-name-game {
        margin-left: 10px
    }
}

.txt-name-game .name-game {
    line-height: 1.1;
    font-size: clamp(1.3rem, 5vw, 2rem)
}

.navbar-content {
    left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: calc(100% - 60px);
    bottom: 0;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px
}

@media only screen and (min-width: 1150px) {
    .navbar-content {
        left: 0;
        display: block;
        background: transparent;
        height: auto;
        position: inherit;
        padding: 0;
        width: 600px;
        float: right;
        margin-top: 50px
    }
}

@media only screen and (min-width: 1150px) {
    .navbar-content ul {
        text-align: center
    }
}

.navbar-content ul li {
    padding-top: 10px;
    padding-bottom: 13px;
    position: relative;
    border-bottom: 1px solid #3d3d3d
}

@media only screen and (min-width: 1150px) {
    .navbar-content ul li {
        padding: 0;
        display: inline-block;
        margin-inline: 15px;
        border-bottom: 0
    }
}

.navbar-content ul li:before {
    position: absolute;
    content: ""
}

@media only screen and (max-width: 999px) {
    .navbar-content ul li:before {
        width: 94%;
        height: 2px;
        left: 5px;
        top: 0
    }
}

@media only screen and (max-width: 999px) {
    .navbar-content ul li:last-child:after {
        width: 94%;
        height: 2px;
        position: absolute;
        content: "";
        left: 5px;
        bottom: 0
    }
}

.navbar-content ul li a {
    color: #fff;
    font-size: 1.6rem;
    position: relative
}

@media only screen and (min-width: 1150px) {
    .navbar-content ul li a {
        display: inline-block;
        color: #000
    }
}

.link-download {
    float: left;
    width: 28vw;
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1%
}

@media only screen and (min-width: 600px) {
    .link-download {
        width: 120px;
        height: 50px;
        line-height: 50px;
        margin-top: 2px
    }
}

@media only screen and (min-width: 1150px) {
    .link-download {
        margin-right: 0;
        float: right
    }
}

.link-download a img {
    width: 100%;
    display: block
}

.icon-hamburger {
    float: right;
    margin-top: 1.5%
}

@media only screen and (min-width: 600px) {
    .icon-hamburger {
        margin-top: 8px
    }
}

.icon-hamburger #menu__header-page {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    cursor: pointer
}

.icon-hamburger #menu__header-page .inner-menu__header-page {
    height: 5px;
    width: 100%;
    top: 16px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    transition: -webkit-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s
}

.icon-hamburger #menu__header-page .inner-menu__header-page:after, .icon-hamburger #menu__header-page .inner-menu__header-page:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    background-color: #fff
}

.icon-hamburger #menu__header-page .inner-menu__header-page:before {
    top: -12px
}

@media only screen and (min-width: 640px) {
    .icon-hamburger #menu__header-page .inner-menu__header-page:before {
        top: -15px
    }
}

.icon-hamburger #menu__header-page .inner-menu__header-page:after {
    top: 12px
}

@media only screen and (min-width: 640px) {
    .icon-hamburger #menu__header-page .inner-menu__header-page:after {
        top: 15px
    }
}

.logo-header {
    position: absolute;
    left: 3%;
    top: 0
}

@media only screen and (min-width: 1600px) {
    .logo-header {
        left: 15%
    }
}

@media only screen and (min-width: 1920px) {
    .logo-header {
        left: 19%
    }
}

.footer__game {
    color: #f3e9d4;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #151515;
    font-size: clamp(11px, 3vw, 16px);
    border-top: 2px solid #000;
    margin-top: 3.5%
}

@media only screen and (min-width: 1024px) {
    .footer__game {
        padding-top: 30px;
        padding-bottom: 40px;
        border-top-width: 5px
    }
}

.footer__game .imglr {
    position: absolute;
    bottom: 0;
    width: 20vw
}

.footer__game .imgleftfooter {
    left: 0
}

.footer__game .imgrightfooter {
    right: 0
}

.link-other {
    margin-bottom: 1.5%;
    gap: 0 10px
}

@media only screen and (min-width: 1024px) {
    .link-other {
        gap: 0 20px
    }
}

.footer-link a {
    color: #f3e9d4
}

.footer-text {
    margin-bottom: 3px
}

@media only screen and (min-width: 768px) {
    .footer-text {
        line-height: 2
    }
}

.bd-black {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000
}

.bd-black2 {
    text-shadow: 1.5px 0 #000, -1.5px 0 #000, 0 1.5px #000, 0 -1.5px #000, 1.5px 1.5px #000, -1.5px -1.5px #000, 1.5px -1.5px #000, -1.5px 1.5px #000
}

.w100per {
    width: 100%
}

.h100per {
    height: 100%
}

.left0 {
    left: 0
}

.top0 {
    top: 0
}

.fs1424px {
    font-size: clamp(1.4rem, 4vw, 2.4rem)
}

@media only screen and (max-width: 1199px) {
    .box_game {
        padding-top: 20%;
        padding-bottom: 9%
    }
}

.btDLG {
    background: url(../images/btDLG.png) no-repeat center center;
    background-size: 100% 100%
}

.btLog {
    background: url(../images/btLog.png) no-repeat center center;
    background-size: 100% 100%
}

.btLog2 {
    background: url(../images/btLog2.png) no-repeat center center;
    background-size: 100% 100%
}

.btLog2.sl__, .btLog2:hover {
    background: url(../images/btLog2__sl.png) no-repeat center center;
    background-size: 100% 100%
}

.img-hv .in-img-hv {
    top: 0;
    left: 0;
    opacity: 0
}

.img-hv.active .in-img-hv, .img-hv:hover .in-img-hv {
    opacity: 1
}

@media only screen and (max-width: 1199px) {
    .list-img {
        width: 90%
    }
}

.list-img .thumb-img {
    background: url(../images/bg-img.png) no-repeat center center;
    background-size: 100% 100%
}

@media only screen and (max-width: 1199px) {
    .list-img .thumb-img {
        padding: 6px 3px;
        width: 47%
    }
}

@media only screen and (min-width: 1024px) {
    .list-img .thumb-img {
        width: 75px;
        height: 75px
    }
}

@media only screen and (min-width: 1150px) {
    .list-img .thumb-img {
        width: 98px;
        height: 98px
    }
}

.list-img .thumb-img img {
    width: 90%;
    width: auto;
    max-width: 90%
}

.list-img .thumb-img .sl {
    line-height: 1;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    right: 0;
    bottom: 0;
    font-size: clamp(1.2rem, 3vw, 1.6rem)
}

#videoBgMb, #videoBgPC {
    position: absolute;
    top: 0
}

#videoBgMb {
    width: 100%;
    top: 20px
}

#videoBgPC {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.game__game {
    padding-bottom: 8%
}

@media only screen and (min-width: 1150px) {
    .game__game {
        padding-bottom: 50px
    }
}

.m__GGIF {
    margin-top: 100%
}

@media only screen and (min-width: 1150px) {
    .m__GGIF {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 130px
    }
}

@media only screen and (min-width: 1150px) {
    .logo__ifGG {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        max-width: 600px;
        margin-left: auto
    }
}

.logo__ifGG .t__logoGG {
    gap: 0 25px
}

.bIF__lcard {
    background: url(../images/ttdl/bg__oki.png) no-repeat center center;
    background-size: 100% 100%;
    width: 90%;
    padding: 5% 2%;
    max-width: 470px
}

@media only screen and (min-width: 1150px) {
    .bIF__lcard {
        height: 280px;
        margin-top: 70px;
        padding-top: 5%;
        padding-bottom: 0
    }
}

.bIF__lcard .log__card {
    gap: 0 10px
}

.bIF__lcard .log__card .bt__logcard {
    font-size: clamp(14px, 3vw, 18px);
    padding: 3% 7%
}

@media only screen and (min-width: 768px) {
    .bIF__lcard .log__card .bt__logcard {
        padding: 0;
        width: 206px;
        height: 45px
    }
}

.bIF__lcard .hello__iflst {
    font-size: clamp(15px, 3.5vw, 22px);
    margin-top: 3%
}

.rule__his {
    z-index: 4;
    position: relative;
    background: url(../images/ttdl/bg__ruH.png) no-repeat center center;
    background-size: 100% 100%;
    width: 90%;
    max-width: 305px;
    height: 37px;
    gap: 0 20px;
    margin-top: 10px
}

.rule__his:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    top: 15%;
    left: 49%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff
}

.rule__his .btRHIS {
    font-size: clamp(15px, 4vw, 20px)
}

.tg__GG {
    width: 100%;
    max-width: 991px
}

@media only screen and (min-width: 1150px) {
    .tg__GG {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: 40px
    }
}

.tg__GG img {
    width: 100%
}

.cardLink {
    display: inline-block;
    margin-top: 1%;
    border-radius: 10px;
    font-size: clamp(14px, 3vw, 22px);
    padding: 2% 10%;
    background: url(../images/btGet.png) no-repeat center center;
    background-size: 100% 100%
}

@-webkit-keyframes zoomIcon {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes zoomIcon {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1)
    }
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

.log7day__ {
    background: url(../images/log7day/b1.png) no-repeat center top;
    background-size: 100% 100%;
    margin-top: -13%;
    padding-top: 30%;
    padding-bottom: 20%
}

@media only screen and (min-width: 1150px) {
    .log7day__ {
        background: url(../images/log7day/b2.png) no-repeat center top;
        margin-top: -150px;
        padding-top: 250px;
        padding-bottom: 250px
    }
}

.lst__logday {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 3%
}

@media only screen and (min-width: 1150px) {
    .lst__logday {
        gap: 0 25px;
        margin-top: 70px
    }
}

.ea__logday {
    background: url(../images/log7day/bgEa__not.png) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 28vw
}

@media only screen and (min-width: 1150px) {
    .ea__logday {
        width: 240px;
        height: 356px;
        padding-top: 55px;
        padding-bottom: 0
    }
}

.ea__logday.sl__ {
    background: url(../images/log7day/bgEa__sl.png) no-repeat center center;
    background-size: 100% 100%
}

.ea__logday.done__ {
    background: url(../images/log7day/bgEa__done.png) no-repeat center center;
    background-size: 100% 100%
}

@media only screen and (min-width: 1150px) {
    .ea__logday:nth-child(n+5) {
        margin-top: -40px
    }
}

.ea__logday .day__log {
    font-size: clamp(15px, 3vw, 27px)
}

.ea__logday .listGift__cG {
    width: 70%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px
}

@media only screen and (min-width: 1150px) {
    .ea__logday .listGift__cG {
        width: 65%;
        gap: 15px
    }
}

.ea__logday .listGift__cG .thumb-img {
    width: 8vw;
    height: 8vw;
    max-width: 68px;
    max-height: 68px
}

.ea__logday .listGift__cG .sl {
    font-size: clamp(10px, 2vw, 16px);
    padding: 2px
}

.ea__logday .bt__gGCF_cg {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 77%;
    margin-left: auto;
    height: 8vw;
    max-height: 50px;
    position: relative;
    top: 2vw;
    left: 2vw;
    font-size: clamp(10px, 2.5vw, 22px)
}

@media only screen and (min-width: 1150px) {
    .ea__logday .bt__gGCF_cg {
        top: 1vw;
        left: 1vw
    }
}

.cardGame__ {
    padding-block: 6%;
    margin-top: -5%
}

@media only screen and (min-width: 1150px) {
    .cardGame__ {
        padding-block: 10px;
        margin-top: -20px
    }
}

.num_allTLGg__ {
    font-size: clamp(14px, 3vw, 25px);
    margin-top: 1%
}

.lst__cG_ {
    width: 85%;
    max-width: 1055px;
    margin-top: 3%;
    margin-bottom: 10%
}

@media only screen and (min-width: 1150px) {
    .lst__cG_ {
        width: 1055px;
        margin-top: 50px;
        margin-bottom: 100px
    }
}

.lst__cG_ .slick-slide {
    text-align: center
}

.lst__cG_ .ea__lCG {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url(../images/cardgame/bg_ea.png) no-repeat center center;
    background-size: 100% 100%;
    max-width: 246px;
    padding-block: 10%;
    margin-bottom: 3%
}

@media only screen and (min-width: 1150px) {
    .lst__cG_ .ea__lCG {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        padding: 0;
        width: 246px;
        height: 415px
    }
}

.lst__cG_ .ea__lCG .name__eaCG {
    line-height: 1.2;
    font-size: clamp(15px, 4vw, 27px)
}

.lst__cG_ .ea__lCG .listGift__cG {
    width: 90%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 3%
}

@media only screen and (min-width: 1150px) {
    .lst__cG_ .ea__lCG .listGift__cG {
        gap: 15px;
        margin-top: 35px
    }
}

.lst__cG_ .ea__lCG .listGift__cG .thumb-img {
    max-width: 65px;
    max-height: 65px
}

.lst__cG_ .ea__lCG .bt__gGCF_cg {
    font-size: clamp(13px, 3vw, 18px);
    background: url(../images/btGet.png) no-repeat center center;
    background-size: 100% 100%;
    margin-top: 3%;
    padding: 3% 7%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media only screen and (min-width: 768px) {
    .lst__cG_ .ea__lCG .bt__gGCF_cg {
        padding: 0;
        width: 164px;
        height: 55px;
        margin-top: 35px
    }
}

.lst__cG_ .ea__lCG .bt__gGCF_cg:not(.sl__) {
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    color: #000000;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
}

.modal.open {
    display: block
}

.modal .content-modal {
    top: 45%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 96%;
    max-width: 650px
}

.modal .wrapper-modal {
    background: url(../images/modal/bg-modal.png) no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    min-height: 220px;
    padding: 5% 0% 5%;
    border-top: 0
}

@media only screen and (min-width: 768px) {
    .modal .wrapper-modal {
        min-height: 300px;
        padding: 3% 0% 5%
    }
}

.modal .wrapper-modal:before {
    pointer-events: none;
    position: absolute;
    content: ""
}

@media only screen and (min-width: 1024px) {
    .modal .wrapper-modal:before {
        width: 173px;
        height: 415px;
        background: url(../images/modal/img-art.png) no-repeat center center;
        background-size: contain;
        bottom: -60px;
        left: -125px
    }
}

.modal .main-modal {
    position: relative;
    z-index: 1
}

.modal .title-modal {
    color: #ff8700;
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    gap: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.2;
    padding-top: 3%
}

@media only screen and (min-width: 1024px) {
    .modal .title-modal {
        padding-top: 25px
    }
}

.modal .title-modal .imgStarTp {
    width: 8vw;
    max-width: 51px
}

.modal .note {
    width: 80%;
    margin-top: 15px;
    font-size: clamp(1.3rem, 3.5vw, 1.8rem);
    color: #fff
}

@media only screen and (min-width: 768px) {
    .modal .note {
        margin-top: 25px
    }
}

.modal .note a {
    color: #ffe138;
    text-decoration: underline
}

.close_modal {
    position: absolute;
    background: url(../images/modal/close-modal.png) no-repeat center center;
    background-size: 100%;
    top: 7%;
    right: 6%;
    width: 26px;
    height: 20px;
    cursor: pointer;
    z-index: 99;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

@media only screen and (min-width: 768px) {
    .close_modal {
        width: 48px;
        height: 44px;
        top: 20px;
        right: 40px
    }
}

.close_modal-full {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1
}

#modal__confirm .main-modal, #modal__giftcode .main-modal, #modal__login .main-modal, #modal__login2 .main-modal, #modal__server .main-modal {
    margin-top: 10%
}

#modal__confirm .helloUser, #modal__giftcode .helloUser, #modal__login .helloUser, #modal__login2 .helloUser, #modal__server .helloUser {
    font-size: clamp(14px, 3vw, 24px)
}

#modal__confirm .noteEmail, #modal__giftcode .noteEmail, #modal__login .noteEmail, #modal__login2 .noteEmail, #modal__server .noteEmail {
    font-size: clamp(10px, 2.7vw, 18px)
}

#modal__confirm .box-input, #modal__confirm .login-fb, #modal__giftcode .box-input, #modal__giftcode .login-fb, #modal__login .box-input, #modal__login .login-fb, #modal__login2 .box-input, #modal__login2 .login-fb, #modal__server .box-input, #modal__server .login-fb {
    width: 80%;
    max-width: 455px;
    height: 50px;
    line-height: 50px;
    font-size: clamp(18px, 4vw, 28px)
}

@media only screen and (min-width: 768px) {
    #modal__confirm .box-input, #modal__confirm .login-fb, #modal__giftcode .box-input, #modal__giftcode .login-fb, #modal__login .box-input, #modal__login .login-fb, #modal__login2 .box-input, #modal__login2 .login-fb, #modal__server .box-input, #modal__server .login-fb {
        height: 65px;
        line-height: 65px
    }
}

#modal__confirm .login-fb, #modal__giftcode .login-fb, #modal__login .login-fb, #modal__login2 .login-fb, #modal__server .login-fb {
    background: #000000;
    -webkit-transform: skewX(-6deg);
    transform: skewX(-6deg)
}

#modal__confirm .login-fb a, #modal__giftcode .login-fb a, #modal__login .login-fb a, #modal__login2 .login-fb a, #modal__server .login-fb a {
    -webkit-transform: skewX(6deg);
    transform: skewX(6deg)
}

#modal__confirm .box-input, #modal__giftcode .box-input, #modal__login .box-input, #modal__login2 .box-input, #modal__server .box-input {
    font-size: clamp(16px, 4vw, 20px);
    background: #000000
}

#modal__confirm .btn-log, #modal__giftcode .btn-log, #modal__login .btn-log, #modal__login2 .btn-log, #modal__server .btn-log {
    font-size: clamp(14px, 5vw, 28px);
    width: 160px;
    height: 45px
}

@media only screen and (min-width: 768px) {
    #modal__confirm .btn-log, #modal__giftcode .btn-log, #modal__login .btn-log, #modal__login2 .btn-log, #modal__server .btn-log {
        width: 220px;
        height: 60px
    }
}

#modal__email .main-modal {
    margin-top: 3%
}

#modal__confirm .main-modal, #modal__giftcode .main-modal {
    margin-top: 4%
}

#modal__confirm .listGiftCongrat, #modal__giftcode .listGiftCongrat {
    gap: 0 10px;
    margin-block: 2% 4%
}

#modal__confirm .boxGiftCode, #modal__giftcode .boxGiftCode {
    margin-top: 3%
}

#modal__confirm #myGiftcode, #modal__giftcode #myGiftcode {
    width: 100%;
    height: 100%
}

#modal__confirm .btn-copy, #modal__giftcode .btn-copy {
    width: 30%;
    height: 55px;
    font-size: clamp(16px, 4vw, 24px)
}

#modal__confirm .dlPopup, #modal__giftcode .dlPopup {
    margin-top: 5%;
    gap: 0 10px
}

#modal__confirm .dlPopup .itDLPC img, #modal__giftcode .dlPopup .itDLPC img {
    width: 40vw;
    max-width: 201px
}

#modal__login2 .note, #modal__server .note {
    width: 70%
}

#modal__login2 .form-control, #modal__server .form-control {
    width: 80%;
    max-width: 460px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 10px
}

@media only screen and (min-width: 768px) {
    #modal__login2 .form-control, #modal__server .form-control {
        height: 60px;
        margin-bottom: 15px
    }
}

#modal__login2 .form-control input, #modal__login2 .form-control select, #modal__server .form-control input, #modal__server .form-control select {
    width: 100%;
    height: 100%;
    font-size: clamp(13px, 2.8vw, 20px)
}

#modal__login2 .form-control select, #modal__server .form-control select {
    padding-left: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/modal/icon-down.png) no-repeat 96% center;
    background-size: 4%
}

@media only screen and (min-width: 768px) {
    #modal__login2 .form-control select, #modal__server .form-control select {
        background-size: auto
    }
}

#modal__login2 .form-control select option, #modal__server .form-control select option {
    background: rgb(0, 0, 0);
    color: #fff
}

#modal__login2 .btn-login, #modal__server .btn-login {
    font-size: clamp(16px, 4vw, 30px);
    width: 180px;
    height: 50px;
    line-height: 50px
}

@media only screen and (min-width: 768px) {
    #modal__login2 .btn-login, #modal__server .btn-login {
        width: 260px;
        height: 70px;
        line-height: 70px
    }
}

#modal__login2 .other-login {
    margin-top: 10px;
    gap: 0 10px
}

@media only screen and (max-width: 767px) {
    #modal__login2 .other-login {
        margin-top: 10px;
        gap: 0 5px
    }
}

#modal__login2 .other-login a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media only screen and (max-width: 767px) {
    #modal__login2 .other-login a img {
        width: 50px
    }
}

#modal__alert {
    z-index: 99
}

@media only screen and (min-width: 768px) {
    #modal__alert .wrapper-modal {
        height: 264px
    }
}

#modal__alert .detail-alert {
    padding: 20px 8%;
    line-height: 1.5
}

#modal__alert .detail-alert .text-alert {
    font-size: clamp(14px, 3vw, 20px);
    color: red
}

#modal__history .content-modal {
    max-width: 800px
}

#modal__history .wrapper-modal .main-modal {
    margin: 0 auto
}

#modal__history .tab-history {
    gap: 0 10px;
    width: 86%;
    border-top: 1px solid #b5b5b5;
    margin-top: 10px;
    padding-top: 15px
}

@media only screen and (min-width: 768px) {
    #modal__history .tab-history {
        gap: 0 20px
    }
}

#modal__history .tab-history .tab-item {
    font-size: clamp(12px, 2.5vw, 20px);
    width: 120px;
    height: 40px
}

@media only screen and (min-width: 768px) {
    #modal__history .tab-history .tab-item {
        width: 190px;
        height: 60px
    }
}

#modal__history .tab-history .tab-item:not(.active) {
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

#modal__history .tab-content-his {
    display: none
}

#modal__history .tab-content-his.active {
    display: block
}

#modal__history .table-history {
    margin-top: 1%;
    width: 86%;
    max-height: 300px;
    overflow-y: auto
}

@media only screen and (min-width: 414px) {
    #modal__history .table-history {
        max-height: 350px
    }
}

@media only screen and (min-width: 768px) {
    #modal__history .table-history {
        max-height: 450px
    }
}

@media only screen and (min-width: 1024px) {
    #modal__history .table-history {
        max-height: 500px
    }
}

#modal__history .table-history::-webkit-scrollbar {
    width: 4px
}

#modal__history .table-history::-webkit-scrollbar-track {
    background: #263e5f
}

#modal__history .table-history::-webkit-scrollbar-thumb {
    background: #ff8717
}

#modal__history .table-history::-webkit-scrollbar-thumb:hover {
    background: #f5c800
}

#modal__history .table-history table {
    width: 100%
}

#modal__history .table-history table tr td {
    text-align: center;
    font-size: clamp(10px, 2.5vw, 14px);
    padding: 2px;
    border: none
}

@media only screen and (min-width: 768px) {
    #modal__history .table-history table tr td {
        font-size: 16px;
        padding: 5px 2px
    }
}

@media only screen and (min-width: 1024px) {
    #modal__history .table-history table tr td {
        padding: 7px 2px
    }
}

#modal__history .table-history table thead tr {
    position: sticky;
    top: 0;
    left: 0
}

#modal__history .table-history table thead tr td {
    background: #ff8717;
    text-transform: uppercase;
    font-size: clamp(10px, 2.5vw, 14px);
    padding: 4px
}

@media only screen and (min-width: 768px) {
    #modal__history .table-history table thead tr td {
        font-size: 16px;
        padding: 6px 0
    }
}

#modal__history .table-history table tbody tr:first-child td {
    background: transparent;
    color: #000
}

#modal__history .table-history table tbody tr:nth-child(odd) {
    background: #fff
}

#modal__history .table-history table tbody tr:nth-child(2n) {
    background: #f5f2f2
}

#modal__history .table-history table tbody tr td {
    color: #000
}

#modal__confirm .main-modal {
    margin-top: 5%
}

#modal__confirm .helloUser {
    padding: 0 5%
}

#modal__confirm .grBtnAcpt {
    margin-top: 3%;
    gap: 0 10px
}

@media only screen and (max-width: 767px) {
    #modal__confirm .grBtnAcpt .btn-copy {
        height: 40px
    }
}

#modal__rule .content-modal, #modal__thuong .content-modal {
    max-width: 900px
}

#modal__rule .wrapper-modal, #modal__thuong .wrapper-modal {
    max-height: 650px
}

@media only screen and (min-width: 1150px) {
    #modal__rule .wrapper-modal, #modal__thuong .wrapper-modal {
        max-height: 700px
    }
}

#modal__rule .content-rule, #modal__thuong .content-rule {
    height: 400px;
    overflow-y: auto;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%
}

@media only screen and (min-width: 1024px) {
    #modal__rule .content-rule, #modal__thuong .content-rule {
        height: 500px
    }
}

@media only screen and (min-width: 1150px) {
    #modal__rule .content-rule, #modal__thuong .content-rule {
        height: 530px
    }
}

#modal__rule .content-rule::-webkit-scrollbar, #modal__thuong .content-rule::-webkit-scrollbar {
    width: 4px
}

#modal__rule .content-rule::-webkit-scrollbar-thumb, #modal__thuong .content-rule::-webkit-scrollbar-thumb {
    background: #ff8717;
    border-radius: 5px
}

#modal__rule .content-rule::-webkit-scrollbar-track, #modal__thuong .content-rule::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 5px
}

.sidebar_right {
    width: 18.7rem;
    height: 45.2rem;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -18.7rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: url(../images/sibarRight/bg-navright.png) no-repeat center center
}

.sidebar_right.mo {
    right: 0.6rem;
    z-index: 9
}

.sidebar_right.mo .sidebar_right-content {
    opacity: 1
}

.sidebar_right .icon-right {
    margin-top: 1.8rem
}

.sidebar_right .icon-right:before {
    pointer-events: none;
    position: absolute;
    content: "";
    width: 182px;
    height: 210px;
    background: url(../images/sibarRight/qr__2.png) no-repeat center center;
    top: -58px;
    left: -17px
}

.sidebar_right .icon-right img {
    opacity: 0
}

.sidebar_right .clickGet {
    font-size: 2rem;
    line-height: 1.2;
    width: 15rem;
    height: 5.2rem;
    background: url(../images/sibarRight/bg-nhan.png) no-repeat center center
}

.sidebar_right .t-lineok {
    margin-top: -5px
}

.sidebar_right .t-dks {
    font-size: 1.6rem;
    margin-bottom: 5px
}

.sidebar_right .link-dlgame {
    display: inline-block
}

.sidebar_right .linkdks-android {
    margin-top: -10px
}

.sidebar_right .dieu_khien {
    cursor: pointer;
    position: absolute;
    background: url(../images/sibarRight/bg-arrow.png) no-repeat;
    width: 2.8rem;
    height: 8.4rem;
    left: -28px;
    top: 90px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.sidebar_right .dieu_khien .imgCtr {
    -webkit-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg)
}

.sidebar_right .dieu_khien.dieu_khien-mo .imgCtr {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0)
}

.sidebar_right .go-top {
    cursor: pointer;
    display: inline-block;
    margin-top: 3px
}

.te-content {
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    color: #000
}

.te-content span.content-event-first {
    float: left;
    font-size: 4rem;
    line-height: 5px;
    margin: 4px 2px 0px 0px
}

.te-content .content-event-h1, .te-content h1 {
    font-size: 20px;
    color: #ee4131;
    padding: 4px 0 8px 35px;
    position: relative
}

@media only screen and (min-width: 1024px) {
    .te-content .content-event-h1, .te-content h1 {
        font-size: 2.4rem
    }
}

.te-content .content-event-h1:before, .te-content h1:before {
    content: "";
    width: 27px;
    height: 27px;
    background: url(../images/icon-h22-b.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 5px
}

.te-content .content-event-h2, .te-content h2 {
    margin-left: 10px;
    font-size: 1.4rem;
    padding: 4px 0 8px 35px;
    color: #ee4131;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative
}

@media only screen and (min-width: 1024px) {
    .te-content .content-event-h2, .te-content h2 {
        font-size: 18px
    }
}

.te-content .content-event-h2:before, .te-content h2:before {
    content: "";
    width: 27px;
    height: 27px;
    background: url(../images/icon-h22-b.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 5px
}

.te-content a {
    color: #ee4131
}

.te-content ul {
    margin-left: 25px
}

.te-content ul li {
    line-height: 28px
}

.te-content p {
    line-height: 1.8;
    color: #000
}

.te-content p img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto
}

.te-content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width: 1024px) {
    .te-content table {
        width: auto
    }
}

.te-content table tr td {
    border: 1px solid #ee4131;
    margin: 0;
    padding: 5px;
    vertical-align: middle !important;
    text-align: center
}

.te-content table tr:first-child {
    background: #d97815
}

.te-content table tr:first-child td p {
    color: #333
}

.te-content fieldset {
    border: 1px solid #2ccefd;
    margin: 20px 0;
    padding: 10px;
    color: #2a2a2a;
    background: #f3f3f3
}

.te-content fieldset legend {
    color: white;
    background: #fb8142;
    padding: 0 15px
}

.te-content fieldset ul {
    margin-left: 15px
}

.te-content em {
    font-style: italic
}

table img {
    display: block
}

table {
    border-collapse: collapse;
    font-size: 1.4rem;
    margin-top: 10px
}

table tr:first-child td {
    background-color: #f0f0f0;
    color: #ffffff;
    text-align: center
}

table tr td {
    vertical-align: middle;
    color: #f0f0f0;
    font-weight: normal;
    text-align: center;
    padding: 5px 0px
}