<?php
    require_once __DIR__ . '/../helper/helper.php';

    date_default_timezone_set('Asia/Ho_Chi_Minh');
    global $config;
	$apikey = 'E0685A4C8A53726C301F346F297D819D'; //API key, lấy từ website thesieutoc.net thay vào trong cặp dấu ''
	// database Mysql config
	$local_db = "localhost";
	$user_db = "root";
	$pass_db = "";
	$name_db = "ngocrong";

    // home path
    DEFINE("HOME_PAGE", "home.php");

	# đừng đụng vào
    $config = mysqli_connect($local_db, $user_db, $pass_db, $name_db);
    if (mysqli_connect_errno()) {
        echo "Sai hoặc Chưa kết nối Database!";
        exit();
    }
    $config->set_charset("utf8");

    //Website name
    $webname = "Ngọc Rồng Online";

    //Được vận hành bởi:
    $team = "Admin";

    $zalo_box_url = "https://zalo.me/g/gljiji830"; // link box zalo

    // link facebook
    $fanpage = "https://www.facebook.com/nguyenphiikhanh";

    //link download
    $jar_link = "https://drive.google.com/file/d/1G8pRJnZ_v38OZZNy20ANDeDTwqPy7XXg/view?usp=drive_link";
    $pc_link = "https://drive.google.com/file/d/1PpqpeXna5zHF_DFDITBuB8plgtLKIOTV/view?usp=sharing";
    $adr_link = "https://drive.google.com/file/d/1N8p9Cfch244YHYEBnSGw8Eyt-GtoRnlF/view?usp=sharing";
    $ios_link = "https://testflight.apple.com/join/4S3CprXd";

    // config banner & logo
    $banner_video = define_url("assets/frontend/app/videos/nroghost_video.mp4"); // trên máy tính
    $banner_img = define_url("assets/frontend/app/imgs/nroghost_banner.png"); // trên máy tính
    $sm_banner_img = define_url("assets/frontend/app/imgs/bgSm.jpg"); // trên điện thoại
    $logo = define_url("assets/frontend/app/imgs/logo.png");
?>