<?php
    require_once __DIR__ . '/../helper/helper.php';

    date_default_timezone_set('Asia/Ho_Chi_Minh');
    global $config;
	$apikey = 'E0685A4C8A53726C301F346F297D819D'; //API key, lấy từ website thesieutoc.net thay vào trong cặp dấu ''
	// database Mysql config
	$local_db = "localhost";
	$user_db = "root";
	$pass_db = "";
	$name_db = "ngocrong";

    // home path
    DEFINE("HOME_PAGE", "home.php");

	# đừng đụng vào
    $config = mysqli_connect($local_db, $user_db, $pass_db, $name_db);
    if (mysqli_connect_errno()) {
        echo "Sai hoặc Chưa kết nối Database!";
        exit();
    }
    $config->set_charset("utf8");

    /*CONFIG DÀNH CHO WEBSITE*/

    $zalo_box_url = "https://zalo.me/g/oeifth254"; // link box zalo

    // link facebook
    $fanpage = "https://www.facebook.com/profile.php?id=61582689654261";

    //link download
    $jar_link = "https://drive.google.com/file/d/1vhBZTjgrTm9VQdT2SiisG0970e9G48s-/view?usp=sharing";
    $pc_link = "https://drive.google.com/file/d/1-o8moXCinErjd3jh31lqGHYYA4u7Rjly/view?usp=sharing";
    $adr_link = "https://drive.google.com/file/d/1fcO1qXC1btEZ9tyxE9tSc2_-WReVJwxN/view?usp=sharing";
    $ios_link = "https://drive.google.com/file/d/1Uqt54tsk6kq_NucQsW_-DFsVHnfWVTya/view?usp=sharing";

    // config banner & logo
    $banner_video = define_url("assets/frontend/app/videos/nroghost.mp4"); // trên máy tính
    $banner_img = define_url("assets/frontend/app/imgs/bg2.png"); // trên máy tính
    $sm_banner_img = define_url("assets/frontend/app/imgs/bgg1.png"); // trên điện thoại
    $logo = define_url("assets/frontend/app/imgs/logo.png");

    // Phần này dành cho SEO
    $webname = "Ngọc Rồng Ghost";

    //Được vận hành bởi:
    $team = "Admin";
?>